# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
/dist
/build
/.vite
/.svelte-kit
/coverage

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependencies
/node_modules

# Cache
.cache
*.tmp
*.temp

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.DS_Store

# TypeScript
*.tsbuildinfo

# Local development
.husky
.vscode